<h1>Change Machine</h1>
<p>
  Welcome. This machine only has 20 coins each of quarters, dimes, nickels, pennies.
</p>
<form action='/results' method='get'>
  <div class="form-group">
    <label for="change">How much cash you have?</label>
    <input id="change" class="form-group" type="text" name="change" >
  </div>
  <button type="submit" class="btn" name="button">Get change!</button>
</form>
